*{
    margin: 0;
    font-family: ;
    
}

header, footer{
    padding: 20px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;  
    list-style-type: none;
}

nav li{
    padding-left: 60px;
    padding-right: 80px;
}

nav a{
    text-decoration: none;
    color: black;
}

.presentation{
    display: flex;
    justify-content: ;
    background-color: #1F2039;
}

.info_presentation{
    display: flex;
    flex-direction: column;
}

.cta{
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 50px;                  
    background-color: #8E86B5;
    font-size: 17px;
    height: 65px;
    width: 314px;
    padding: 5px;
    text-decoration: none;
}
