*{
    margin: 0;
}

header, footer{
    padding: 20px 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;  
    list-style-type: none;
}

nav li{
    padding-left: 60px;
    padding-right: 60px;
}

nav a{
    text-decoration: none;
    color: black;
}

.presentation{
    display: flex;
    justify-content: center;
    background-color: #1F2039;
}